html, body{
	width: 400px;
}
#popup-content{
	margin: 20px;
}
p{
	margin-block-start: 0;
}
#button{
	padding: 10px;
	text-align: center;
	background-color: aliceblue;
	border: 1px solid black;
}
#button:hover{
	background-color: #d0e8ff;
}